
body{
  background: #ede7f1;
  margin: 3rem 5%;
}
h2{
  font-size: 2rem;
  color: #553434;
}
header > img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 30%;
}
main img{
  max-width: 100%;
}
/*#hero{
  background: url("/img/promo.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 15rem;
  border-radius: 1rem;
}*/
.promo{
  width: 100%;
  border-radius: 1rem;
  margin: .2rem;
}
footer img{
  width: 20%;
  height: 50%;
  border: solid .1rem #553434;
  padding: 2%;
}
nav menu{
  list-style: none;
  text-align: center;
  background: #553434;
  height: 2rem;
  padding-top: 1rem;
  border-radius: 1rem;
}
nav li{
  display: inline;
}
nav a{
  text-decoration: none;
  color: white;
  font-size: 100%;
  padding: .5rem;
  margin-inline-start: 0rem;
}
nav a:hover{
  text-decoration: overline underline;
  text-decoration-thickness: .01rem;
}
section{
  display: flex;
  gap: 2rem 1rem;
  margin: 1rem auto;
}
.info{
  box-sizing: content-box;
  flex: 1;
  background: #d1a6ec;
  border-radius: 1rem;
  padding: .5rem 2%;
  padding-bottom: 1rem;
}
footer{
  display: flex;
}
div{
  flex: 1;
  margin: .5em;
}
div p{
  text-align: right;
  border-top: .1rem groove #553434;
  margin-top: 0;
  padding: 1rem 0;
  
}

.info a:hover, .info a:focus{
  color: green;
  transition: ease-in;
}
.info:hover{
  transform: scale(1.01);
  box-shadow: .1em .1em .5em black;
}

@media (max-width: 950px) and (orientation: portrait){
  section{
    display: inline-grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    margin: 0;
  }
  .info{
    margin-top: 0;
    padding: 3rem;
  }
  .info p{
    margin-bottom: 4rem;
  }
}